# Exercise: Analyzing Chinook Database

Preparation I've done:
 - Retrieve the dataset and load it
 - Load the %sql extension and point it at the database
 - Display the tables and an example query

Additional steps you might take:
 - Add libraries for visualization (matplotlib, seaborn, plotly)
 - Add libraries for statistics (numpy)
 - Explore the dataset using SQL and/or pandas

----

1. Retrieve a list of all the tracks in the database, displaying only the track name and the name of the album it belongs to. Limit the result to the first 5 rows.
   > Operations: `SELECT`
2. Find the total number of customers from each country. Display the country name and the corresponding count. Order the results by the count in descending order.
   > Operations: `SELECT`, `COUNT`, `GROUP BY`, `ORDER BY`
3. Identify the top 5 genres with the highest number of tracks. Display the genre name along with the total number of tracks for each genre.
   > Operations: `SELECT`, `COUNT`, `GROUP BY`, `ORDER BY`
4. Determine the average invoice total for each customer, considering both the album and individual track purchases. Display the customer's first and last name along with the average invoice total. Order the results by the average invoice total in descending order.
   > Operations: `SELECT`, `AVG`, `JOIN`, `GROUP BY`, `ORDER BY`
5. Identify the customer who spent the most on music purchases. Display the customer's first and last name, along with the total amount spent.
   > Operations: `SELECT`, `SUM`, `JOIN`, `GROUP BY`, `ORDER BY`, `LIMIT`

In [16]:
#%pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-15.0.0-cp311-cp311-macosx_10_15_x86_64.whl.metadata (3.0 kB)
Requirement already satisfied: numpy<2,>=1.16.6 in /Users/emilytang/Desktop/UCSF_TA/ucsf_ds_ta/.my_env3/lib/python3.11/site-packages (from pyarrow) (1.26.3)
Downloading pyarrow-15.0.0-cp311-cp311-macosx_10_15_x86_64.whl (27.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.2/27.2 MB 12.9 MB/s eta 0:00:0000:0100:01
Installing collected packages: pyarrow
Successfully installed pyarrow-15.0.0
Note: you may need to restart the kernel to use updated packages.

In [5]:
# Load chinook dataset and query it using SQL magic into pandas dataframes
import pandas as pd
import pyarrow as pa
import sqlite3
%load_ext sql

# Load data
conn = sqlite3.connect("chinook.sqlite")

# Tell %sql about the database
%sql sqlite:///chinook.sqlite

# List tables in database
query = "SELECT name FROM sqlite_master WHERE type='table';"

# Read data into a Pandas DataFrame
tables = %sql $query

# Print head
display(tables)

# Query to get the first 5 rows of the `albums` table
result = %sql SELECT * FROM tracks LIMIT 5;

# Display query result, note that Pandas DataFrame is returned!
display(result)

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * sqlite:///chinook.sqlite
Done.

[('albums',),
 ('sqlite_sequence',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',),
 ('sqlite_stat1',)]

 * sqlite:///chinook.sqlite
Done.

[(1, 'For Those About To Rock (We Salute You)', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 343719, 11170334, 0.99),
 (2, 'Balls to the Wall', 2, 2, 1, None, 342562, 5510424, 0.99),
 (3, 'Fast As a Shark', 3, 2, 1, 'F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman', 230619, 3990994, 0.99),
 (4, 'Restless and Wild', 3, 2, 1, 'F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. Dirkscneider & W. Hoffman', 252051, 4331779, 0.99),
 (5, 'Princess of the Dawn', 3, 2, 1, 'Deaffy & R.A. Smith-Diesel', 375418, 6290521, 0.99)]

1. Retrieve a list of all the tracks in the database, displaying only the track name and the name of the album it belongs to. Limit the result to the first 5 rows.
   > Operations: `SELECT`

In [6]:
result = %sql SELECT t.Name as TrackName, a.Title as AlbumName \
        from  tracks t JOIN albums a USING(albumid) LIMIT 5;

display(result)

 * sqlite:///chinook.sqlite
Done.

[('For Those About To Rock (We Salute You)', 'For Those About To Rock We Salute You'),
 ('Put The Finger On You', 'For Those About To Rock We Salute You'),
 ("Let's Get It Up", 'For Those About To Rock We Salute You'),
 ('Inject The Venom', 'For Those About To Rock We Salute You'),
 ('Snowballed', 'For Those About To Rock We Salute You')]

2. Find the total number of customers from each country. Display the country name and the corresponding count. Order the results by the count in descending order.
   > Operations: `SELECT`, `COUNT`, `GROUP BY`, `ORDER BY`

In [18]:
result = %sql SELECT Country, COUNT(CustomerId) as CustomerCount \
FROM customers \
GROUP BY Country \
ORDER BY CustomerCount DESC;

# Display query result, note that Pandas DataFrame is returned!
display(result)

 * sqlite:///chinook.sqlite
Done.

[('USA', 13),
 ('Canada', 8),
 ('France', 5),
 ('Brazil', 5),
 ('Germany', 4),
 ('United Kingdom', 3),
 ('Portugal', 2),
 ('India', 2),
 ('Czech Republic', 2),
 ('Sweden', 1),
 ('Spain', 1),
 ('Poland', 1),
 ('Norway', 1),
 ('Netherlands', 1),
 ('Italy', 1),
 ('Ireland', 1),
 ('Hungary', 1),
 ('Finland', 1),
 ('Denmark', 1),
 ('Chile', 1),
 ('Belgium', 1),
 ('Austria', 1),
 ('Australia', 1),
 ('Argentina', 1)]

3. Identify the top 5 genres with the highest number of tracks. Display the genre name along with the total number of tracks for each genre.
   > Operations: `SELECT`, `COUNT`, `GROUP BY`, `ORDER BY`

In [8]:
result = %sql SELECT g.Name as GenreName, COUNT(t.TrackId) as TrackCount \
FROM genres g \
JOIN tracks t USING(GenreId) \
GROUP BY GenreName \
ORDER BY TrackCount DESC \
LIMIT 5;

# Display query result, note that Pandas DataFrame is returned!
display(result)

 * sqlite:///chinook.sqlite
Done.

[('Rock', 1297),
 ('Latin', 579),
 ('Metal', 374),
 ('Alternative & Punk', 332),
 ('Jazz', 130)]

4. Determine the average invoice total for each customer, considering both the album and individual track purchases. Display the customer's first and last name along with the average invoice total. Order the results by the average invoice total in descending order.
   > Operations: `SELECT`, `AVG`, `JOIN`, `GROUP BY`, `ORDER BY`

In [14]:
result = %sql SELECT c.FirstName, c.LastName, ROUND(AVG(i.Total),2) as AverageInvoiceTotal \
FROM customers c \
JOIN invoices i ON c.CustomerId = i.CustomerId \
GROUP BY c.CustomerId \
ORDER BY AverageInvoiceTotal DESC;

display(result)

 * sqlite:///chinook.sqlite
Done.

[('Helena', 'Holý', 7.09),
 ('Richard', 'Cunningham', 6.8),
 ('Luis', 'Rojas', 6.66),
 ('Ladislav', 'Kovács', 6.52),
 ('Hugh', "O'Reilly", 6.52),
 ('Frank', 'Ralston', 6.23),
 ('Julia', 'Barnett', 6.23),
 ('Fynn', 'Zimmermann', 6.23),
 ('Puja', 'Srivastava', 6.11),
 ('Astrid', 'Gruber', 6.09),
 ('Victor', 'Stevens', 6.09),
 ('Terhi', 'Hämäläinen', 5.95),
 ('František', 'Wichterlová', 5.8),
 ('Isabelle', 'Mercier', 5.8),
 ('Johannes', 'Van der Berg', 5.8),
 ('Luís', 'Gonçalves', 5.66),
 ('François', 'Tremblay', 5.66),
 ('Bjørn', 'Hansen', 5.66),
 ('Jack', 'Smith', 5.66),
 ('Dan', 'Miller', 5.66),
 ('Heather', 'Leacock', 5.66),
 ('João', 'Fernandes', 5.66),
 ('Wyatt', 'Girard', 5.66),
 ('Jennifer', 'Peterson', 5.52),
 ('Tim', 'Goyer', 5.52),
 ('Camille', 'Bernard', 5.52),
 ('Dominique', 'Lefebvre', 5.52),
 ('Joakim', 'Johansson', 5.52),
 ('Manoj', 'Pareek', 5.52),
 ('Leonie', 'Köhler', 5.37),
 ('Daan', 'Peeters', 5.37),
 ('Kara', 'Nielsen', 5.37),
 ('Eduardo', 'Martins', 5.37),
 ('Alexandre', 'Rocha', 5.37),
 ('Roberto', 'Almeida', 5.37),
 ('Fernanda', 'Ramos', 5.37),
 ('Mark', 'Philips', 5.37),
 ('Frank', 'Harris', 5.37),
 ('Michelle', 'Brooks', 5.37),
 ('Kathy', 'Chase', 5.37),
 ('John', 'Gordon', 5.37),
 ('Patrick', 'Gray', 5.37),
 ('Robert', 'Brown', 5.37),
 ('Edward', 'Francis', 5.37),
 ('Martha', 'Silk', 5.37),
 ('Aaron', 'Mitchell', 5.37),
 ('Ellie', 'Sullivan', 5.37),
 ('Madalena', 'Sampaio', 5.37),
 ('Hannah', 'Schneider', 5.37),
 ('Niklas', 'Schröder', 5.37),
 ('Marc', 'Dubois', 5.37),
 ('Lucas', 'Mancini', 5.37),
 ('Stanisław', 'Wójcik', 5.37),
 ('Enrique', 'Muñoz', 5.37),
 ('Emma', 'Jones', 5.37),
 ('Phil', 'Hughes', 5.37),
 ('Steve', 'Murray', 5.37),
 ('Mark', 'Taylor', 5.37),
 ('Diego', 'Gutiérrez', 5.37)]

5. Identify the customer who spent the most on music purchases. Display the customer's first and last name, along with the total amount spent.
   > Operations: `SELECT`, `SUM`, `JOIN`, `GROUP BY`, `ORDER BY`, `LIMIT`

In [13]:
result = %sql SELECT c.FirstName, c.LastName, ROUND(SUM(i.Total),2) as TotalAmountSpent \
FROM customers c \
JOIN invoices i ON c.CustomerId = i.CustomerId \
GROUP BY c.CustomerId \
ORDER BY TotalAmountSpent DESC \
LIMIT 1;

display(result)

 * sqlite:///chinook.sqlite
Done.

[('Helena', 'Holý', 49.62)]

In [17]:
%%sql

-- Query 1: Select top 5 genres with the highest number of tracks
SELECT g.Name as GenreName, COUNT(t.TrackId) as TrackCount
FROM genres g
JOIN tracks t USING(GenreId)
GROUP BY GenreName
ORDER BY TrackCount DESC
LIMIT 5;

-- Query 2: Identify the customer who spent the most on music purchases
SELECT c.FirstName, c.LastName, SUM(i.Total) as TotalAmountSpent
FROM customers c
JOIN invoices i ON c.CustomerId = i.CustomerId
GROUP BY c.CustomerId
ORDER BY TotalAmountSpent DESC
LIMIT 1;

 * sqlite:///chinook.sqlite
Done.
Done.

[('Helena', 'Holý', 49.620000000000005)]

In [20]:
result = %sql SELECT * FROM invoices
display(result)

 * sqlite:///chinook.sqlite
Done.

[(1, 2, '2009-01-01 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', 1.98),
 (2, 4, '2009-01-02 00:00:00', 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', 3.96),
 (3, 8, '2009-01-03 00:00:00', 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', 5.94),
 (4, 14, '2009-01-06 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 8.91),
 (5, 23, '2009-01-11 00:00:00', '69 Salem Street', 'Boston', 'MA', 'USA', '2113', 13.86),
 (6, 37, '2009-01-19 00:00:00', 'Berger Straße 10', 'Frankfurt', None, 'Germany', '60316', 0.99),
 (7, 38, '2009-02-01 00:00:00', 'Barbarossastraße 19', 'Berlin', None, 'Germany', '10779', 1.98),
 (8, 40, '2009-02-01 00:00:00', '8, Rue Hanovre', 'Paris', None, 'France', '75002', 1.98),
 (9, 42, '2009-02-02 00:00:00', '9, Place Louis Barthou', 'Bordeaux', None, 'France', '33000', 3.96),
 (10, 46, '2009-02-03 00:00:00', '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', None, 5.94),
 (11, 52, '2009-02-06 00:00:00', '202 Hoxton Street', 'London', None, 'United Kingdom', 'N1 5LH', 8.91),
 (12, 2, '2009-02-11 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', 13.86),
 (13, 16, '2009-02-19 00:00:00', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', 0.99),
 (14, 17, '2009-03-04 00:00:00', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', 1.98),
 (15, 19, '2009-03-04 00:00:00', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', 1.98),
 (16, 21, '2009-03-05 00:00:00', '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', 3.96),
 (17, 25, '2009-03-06 00:00:00', '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', 5.94),
 (18, 31, '2009-03-09 00:00:00', '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', 8.91),
 (19, 40, '2009-03-14 00:00:00', '8, Rue Hanovre', 'Paris', None, 'France', '75002', 13.86),
 (20, 54, '2009-03-22 00:00:00', '110 Raeburn Pl', 'Edinburgh ', None, 'United Kingdom', 'EH4 1HH', 0.99),
 (21, 55, '2009-04-04 00:00:00', '421 Bourke Street', 'Sidney', 'NSW', 'Australia', '2010', 1.98),
 (22, 57, '2009-04-04 00:00:00', 'Calle Lira, 198', 'Santiago', None, 'Chile', None, 1.98),
 (23, 59, '2009-04-05 00:00:00', '3,Raj Bhavan Road', 'Bangalore', None, 'India', '560001', 3.96),
 (24, 4, '2009-04-06 00:00:00', 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', 5.94),
 (25, 10, '2009-04-09 00:00:00', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', 8.91),
 (26, 19, '2009-04-14 00:00:00', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', 13.86),
 (27, 33, '2009-04-22 00:00:00', '5112 48 Street', 'Yellowknife', 'NT', 'Canada', 'X1A 1N6', 0.99),
 (28, 34, '2009-05-05 00:00:00', 'Rua da Assunção 53', 'Lisbon', None, 'Portugal', None, 1.98),
 (29, 36, '2009-05-05 00:00:00', 'Tauentzienstraße 8', 'Berlin', None, 'Germany', '10789', 1.98),
 (30, 38, '2009-05-06 00:00:00', 'Barbarossastraße 19', 'Berlin', None, 'Germany', '10779', 3.96),
 (31, 42, '2009-05-07 00:00:00', '9, Place Louis Barthou', 'Bordeaux', None, 'France', '33000', 5.94),
 (32, 48, '2009-05-10 00:00:00', 'Lijnbaansgracht 120bg', 'Amsterdam', 'VV', 'Netherlands', '1016', 8.91),
 (33, 57, '2009-05-15 00:00:00', 'Calle Lira, 198', 'Santiago', None, 'Chile', None, 13.86),
 (34, 12, '2009-05-23 00:00:00', 'Praça Pio X, 119', 'Rio de Janeiro', 'RJ', 'Brazil', '20040-020', 0.99),
 (35, 13, '2009-06-05 00:00:00', 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', 1.98),
 (36, 15, '2009-06-05 00:00:00', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', 1.98),
 (37, 17, '2009-06-06 00:00:00', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', 3.96),
 (38, 21, '2009-06-07 00:00:00', '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', 5.94),
 (39, 27, '2009-06-10 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 8.91),
 (40, 36, '2009-06-15 00:00:00', 'Tauentzienstraße 8', 'Berlin', None, 'Germany', '10789', 13.86),
 (41, 50, '2009-06-23 00:00:00', 'C/ San Bernardo 85', 'Madrid', None, 'Spain', '28015', 0.99),
 (42, 51, '2009-07-06 00:00:00', 'Celsiusg. 9', 'Stockholm', None, 'Sweden', '11230', 1.98),
 (43, 53, '2009-07-06 00:00:00', '113 Lupus St', 'London', None, 'United Kingdom', 'SW1V 3EN', 1.98),
 (44, 55, '2009-07-07 00:00:00', '421 Bourke Street', 'Sidney', 'NSW', 'Australia', '2010', 3.96),
 (45, 59, '2009-07-08 00:00:00', '3,Raj Bhavan Road', 'Bangalore', None, 'India', '560001', 5.94),
 (46, 6, '2009-07-11 00:00:00', 'Rilská 3174/6', 'Prague', None, 'Czech Republic', '14300', 8.91),
 (47, 15, '2009-07-16 00:00:00', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', 13.86),
 (48, 29, '2009-07-24 00:00:00', '796 Dundas Street West', 'Toronto', 'ON', 'Canada', 'M6J 1V1', 0.99),
 (49, 30, '2009-08-06 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 1.98),
 (50, 32, '2009-08-06 00:00:00', '696 Osborne Street', 'Winnipeg', 'MB', 'Canada', 'R3L 2B9', 1.98),
 (51, 34, '2009-08-07 00:00:00', 'Rua da Assunção 53', 'Lisbon', None, 'Portugal', None, 3.96),
 (52, 38, '2009-08-08 00:00:00', 'Barbarossastraße 19', 'Berlin', None, 'Germany', '10779', 5.94),
 (53, 44, '2009-08-11 00:00:00', 'Porthaninkatu 9', 'Helsinki', None, 'Finland', '00530', 8.91),
 (54, 53, '2009-08-16 00:00:00', '113 Lupus St', 'London', None, 'United Kingdom', 'SW1V 3EN', 13.86),
 (55, 8, '2009-08-24 00:00:00', 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', 0.99),
 (56, 9, '2009-09-06 00:00:00', 'Sønder Boulevard 51', 'Copenhagen', None, 'Denmark', '1720', 1.98),
 (57, 11, '2009-09-06 00:00:00', 'Av. Paulista, 2022', 'São Paulo', 'SP', 'Brazil', '01310-200', 1.98),
 (58, 13, '2009-09-07 00:00:00', 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', 3.96),
 (59, 17, '2009-09-08 00:00:00', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', 5.94),
 (60, 23, '2009-09-11 00:00:00', '69 Salem Street', 'Boston', 'MA', 'USA', '2113', 8.91),
 (61, 32, '2009-09-16 00:00:00', '696 Osborne Street', 'Winnipeg', 'MB', 'Canada', 'R3L 2B9', 13.86),
 (62, 46, '2009-09-24 00:00:00', '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', None, 0.99),
 (63, 47, '2009-10-07 00:00:00', 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', 1.98),
 (64, 49, '2009-10-07 00:00:00', 'Ordynacka 10', 'Warsaw', None, 'Poland', '00-358', 1.98),
 (65, 51, '2009-10-08 00:00:00', 'Celsiusg. 9', 'Stockholm', None, 'Sweden', '11230', 3.96),
 (66, 55, '2009-10-09 00:00:00', '421 Bourke Street', 'Sidney', 'NSW', 'Australia', '2010', 5.94),
 (67, 2, '2009-10-12 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', 8.91),
 (68, 11, '2009-10-17 00:00:00', 'Av. Paulista, 2022', 'São Paulo', 'SP', 'Brazil', '01310-200', 13.86),
 (69, 25, '2009-10-25 00:00:00', '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', 0.99),
 (70, 26, '2009-11-07 00:00:00', '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', 1.98),
 (71, 28, '2009-11-07 00:00:00', '302 S 700 E', 'Salt Lake City', 'UT', 'USA', '84102', 1.98),
 (72, 30, '2009-11-08 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 3.96),
 (73, 34, '2009-11-09 00:00:00', 'Rua da Assunção 53', 'Lisbon', None, 'Portugal', None, 5.94),
 (74, 40, '2009-11-12 00:00:00', '8, Rue Hanovre', 'Paris', None, 'France', '75002', 8.91),
 (75, 49, '2009-11-17 00:00:00', 'Ordynacka 10', 'Warsaw', None, 'Poland', '00-358', 13.86),
 (76, 4, '2009-11-25 00:00:00', 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', 0.99),
 (77, 5, '2009-12-08 00:00:00', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', 1.98),
 (78, 7, '2009-12-08 00:00:00', 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', None, 'Austria', '1010', 1.98),
 (79, 9, '2009-12-09 00:00:00', 'Sønder Boulevard 51', 'Copenhagen', None, 'Denmark', '1720', 3.96),
 (80, 13, '2009-12-10 00:00:00', 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', 5.94),
 (81, 19, '2009-12-13 00:00:00', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', 8.91),
 (82, 28, '2009-12-18 00:00:00', '302 S 700 E', 'Salt Lake City', 'UT', 'USA', '84102', 13.86),
 (83, 42, '2009-12-26 00:00:00', '9, Place Louis Barthou', 'Bordeaux', None, 'France', '33000', 0.99),
 (84, 43, '2010-01-08 00:00:00', '68, Rue Jouvence', 'Dijon', None, 'France', '21000', 1.98),
 (85, 45, '2010-01-08 00:00:00', 'Erzsébet krt. 58.', 'Budapest', None, 'Hungary', 'H-1073', 1.98),
 (86, 47, '2010-01-09 00:00:00', 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', 3.96),
 (87, 51, '2010-01-10 00:00:00', 'Celsiusg. 9', 'Stockholm', None, 'Sweden', '11230', 6.94),
 (88, 57, '2010-01-13 00:00:00', 'Calle Lira, 198', 'Santiago', None, 'Chile', None, 17.91),
 (89, 7, '2010-01-18 00:00:00', 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', None, 'Austria', '1010', 18.86),
 (90, 21, '2010-01-26 00:00:00', '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', 0.99),
 (91, 22, '2010-02-08 00:00:00', '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', 1.98),
 (92, 24, '2010-02-08 00:00:00', '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', 1.98),
 (93, 26, '2010-02-09 00:00:00', '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', 3.96),
 (94, 30, '2010-02-10 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 5.94),
 (95, 36, '2010-02-13 00:00:00', 'Tauentzienstraße 8', 'Berlin', None, 'Germany', '10789', 8.91),
 (96, 45, '2010-02-18 00:00:00', 'Erzsébet krt. 58.', 'Budapest', None, 'Hungary', 'H-1073', 21.86),
 (97, 59, '2010-02-26 00:00:00', '3,Raj Bhavan Road', 'Bangalore', None, 'India', '560001', 1.99),
 (98, 1, '2010-03-11 00:00:00', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', 3.98),
 (99, 3, '2010-03-11 00:00:00', '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', 3.98),
 (100, 5, '2010-03-12 00:00:00', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', 3.96),
 (101, 9, '2010-03-13 00:00:00', 'Sønder Boulevard 51', 'Copenhagen', None, 'Denmark', '1720', 5.94),
 (102, 15, '2010-03-16 00:00:00', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', 9.91),
 (103, 24, '2010-03-21 00:00:00', '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', 15.86),
 (104, 38, '2010-03-29 00:00:00', 'Barbarossastraße 19', 'Berlin', None, 'Germany', '10779', 0.99),
 (105, 39, '2010-04-11 00:00:00', '4, Rue Milton', 'Paris', None, 'France', '75009', 1.98),
 (106, 41, '2010-04-11 00:00:00', '11, Place Bellecour', 'Lyon', None, 'France', '69002', 1.98),
 (107, 43, '2010-04-12 00:00:00', '68, Rue Jouvence', 'Dijon', None, 'France', '21000', 3.96),
 (108, 47, '2010-04-13 00:00:00', 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', 5.94),
 (109, 53, '2010-04-16 00:00:00', '113 Lupus St', 'London', None, 'United Kingdom', 'SW1V 3EN', 8.91),
 (110, 3, '2010-04-21 00:00:00', '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', 13.86),
 (111, 17, '2010-04-29 00:00:00', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', 0.99),
 (112, 18, '2010-05-12 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 1.98),
 (113, 20, '2010-05-12 00:00:00', '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', 1.98),
 (114, 22, '2010-05-13 00:00:00', '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', 3.96),
 (115, 26, '2010-05-14 00:00:00', '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', 5.94),
 (116, 32, '2010-05-17 00:00:00', '696 Osborne Street', 'Winnipeg', 'MB', 'Canada', 'R3L 2B9', 8.91),
 (117, 41, '2010-05-22 00:00:00', '11, Place Bellecour', 'Lyon', None, 'France', '69002', 13.86),
 (118, 55, '2010-05-30 00:00:00', '421 Bourke Street', 'Sidney', 'NSW', 'Australia', '2010', 0.99),
 (119, 56, '2010-06-12 00:00:00', '307 Macacha Güemes', 'Buenos Aires', None, 'Argentina', '1106', 1.98),
 (120, 58, '2010-06-12 00:00:00', '12,Community Centre', 'Delhi', None, 'India', '110017', 1.98),
 (121, 1, '2010-06-13 00:00:00', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', 3.96),
 (122, 5, '2010-06-14 00:00:00', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', 5.94),
 (123, 11, '2010-06-17 00:00:00', 'Av. Paulista, 2022', 'São Paulo', 'SP', 'Brazil', '01310-200', 8.91),
 (124, 20, '2010-06-22 00:00:00', '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', 13.86),
 (125, 34, '2010-06-30 00:00:00', 'Rua da Assunção 53', 'Lisbon', None, 'Portugal', None, 0.99),
 (126, 35, '2010-07-13 00:00:00', 'Rua dos Campeões Europeus de Viena, 4350', 'Porto', None, 'Portugal', None, 1.98),
 (127, 37, '2010-07-13 00:00:00', 'Berger Straße 10', 'Frankfurt', None, 'Germany', '60316', 1.98),
 (128, 39, '2010-07-14 00:00:00', '4, Rue Milton', 'Paris', None, 'France', '75009', 3.96),
 (129, 43, '2010-07-15 00:00:00', '68, Rue Jouvence', 'Dijon', None, 'France', '21000', 5.94),
 (130, 49, '2010-07-18 00:00:00', 'Ordynacka 10', 'Warsaw', None, 'Poland', '00-358', 8.91),
 (131, 58, '2010-07-23 00:00:00', '12,Community Centre', 'Delhi', None, 'India', '110017', 13.86),
 (132, 13, '2010-07-31 00:00:00', 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', 0.99),
 (133, 14, '2010-08-13 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 1.98),
 (134, 16, '2010-08-13 00:00:00', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', 1.98),
 (135, 18, '2010-08-14 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 3.96),
 (136, 22, '2010-08-15 00:00:00', '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', 5.94),
 (137, 28, '2010-08-18 00:00:00', '302 S 700 E', 'Salt Lake City', 'UT', 'USA', '84102', 8.91),
 (138, 37, '2010-08-23 00:00:00', 'Berger Straße 10', 'Frankfurt', None, 'Germany', '60316', 13.86),
 (139, 51, '2010-08-31 00:00:00', 'Celsiusg. 9', 'Stockholm', None, 'Sweden', '11230', 0.99),
 (140, 52, '2010-09-13 00:00:00', '202 Hoxton Street', 'London', None, 'United Kingdom', 'N1 5LH', 1.98),
 (141, 54, '2010-09-13 00:00:00', '110 Raeburn Pl', 'Edinburgh ', None, 'United Kingdom', 'EH4 1HH', 1.98),
 (142, 56, '2010-09-14 00:00:00', '307 Macacha Güemes', 'Buenos Aires', None, 'Argentina', '1106', 3.96),
 (143, 1, '2010-09-15 00:00:00', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', 5.94),
 (144, 7, '2010-09-18 00:00:00', 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', None, 'Austria', '1010', 8.91),
 (145, 16, '2010-09-23 00:00:00', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', 13.86),
 (146, 30, '2010-10-01 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 0.99),
 (147, 31, '2010-10-14 00:00:00', '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', 1.98),
 (148, 33, '2010-10-14 00:00:00', '5112 48 Street', 'Yellowknife', 'NT', 'Canada', 'X1A 1N6', 1.98),
 (149, 35, '2010-10-15 00:00:00', 'Rua dos Campeões Europeus de Viena, 4350', 'Porto', None, 'Portugal', None, 3.96),
 (150, 39, '2010-10-16 00:00:00', '4, Rue Milton', 'Paris', None, 'France', '75009', 5.94),
 (151, 45, '2010-10-19 00:00:00', 'Erzsébet krt. 58.', 'Budapest', None, 'Hungary', 'H-1073', 8.91),
 (152, 54, '2010-10-24 00:00:00', '110 Raeburn Pl', 'Edinburgh ', None, 'United Kingdom', 'EH4 1HH', 13.86),
 (153, 9, '2010-11-01 00:00:00', 'Sønder Boulevard 51', 'Copenhagen', None, 'Denmark', '1720', 0.99),
 (154, 10, '2010-11-14 00:00:00', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', 1.98),
 (155, 12, '2010-11-14 00:00:00', 'Praça Pio X, 119', 'Rio de Janeiro', 'RJ', 'Brazil', '20040-020', 1.98),
 (156, 14, '2010-11-15 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 3.96),
 (157, 18, '2010-11-16 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 5.94),
 (158, 24, '2010-11-19 00:00:00', '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', 8.91),
 (159, 33, '2010-11-24 00:00:00', '5112 48 Street', 'Yellowknife', 'NT', 'Canada', 'X1A 1N6', 13.86),
 (160, 47, '2010-12-02 00:00:00', 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', 0.99),
 (161, 48, '2010-12-15 00:00:00', 'Lijnbaansgracht 120bg', 'Amsterdam', 'VV', 'Netherlands', '1016', 1.98),
 (162, 50, '2010-12-15 00:00:00', 'C/ San Bernardo 85', 'Madrid', None, 'Spain', '28015', 1.98),
 (163, 52, '2010-12-16 00:00:00', '202 Hoxton Street', 'London', None, 'United Kingdom', 'N1 5LH', 3.96),
 (164, 56, '2010-12-17 00:00:00', '307 Macacha Güemes', 'Buenos Aires', None, 'Argentina', '1106', 5.94),
 (165, 3, '2010-12-20 00:00:00', '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', 8.91),
 (166, 12, '2010-12-25 00:00:00', 'Praça Pio X, 119', 'Rio de Janeiro', 'RJ', 'Brazil', '20040-020', 13.86),
 (167, 26, '2011-01-02 00:00:00', '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', 0.99),
 (168, 27, '2011-01-15 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 1.98),
 (169, 29, '2011-01-15 00:00:00', '796 Dundas Street West', 'Toronto', 'ON', 'Canada', 'M6J 1V1', 1.98),
 (170, 31, '2011-01-16 00:00:00', '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', 3.96),
 (171, 35, '2011-01-17 00:00:00', 'Rua dos Campeões Europeus de Viena, 4350', 'Porto', None, 'Portugal', None, 5.94),
 (172, 41, '2011-01-20 00:00:00', '11, Place Bellecour', 'Lyon', None, 'France', '69002', 8.91),
 (173, 50, '2011-01-25 00:00:00', 'C/ San Bernardo 85', 'Madrid', None, 'Spain', '28015', 13.86),
 (174, 5, '2011-02-02 00:00:00', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', 0.99),
 (175, 6, '2011-02-15 00:00:00', 'Rilská 3174/6', 'Prague', None, 'Czech Republic', '14300', 1.98),
 (176, 8, '2011-02-15 00:00:00', 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', 1.98),
 (177, 10, '2011-02-16 00:00:00', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', 3.96),
 (178, 14, '2011-02-17 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 5.94),
 (179, 20, '2011-02-20 00:00:00', '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', 8.91),
 (180, 29, '2011-02-25 00:00:00', '796 Dundas Street West', 'Toronto', 'ON', 'Canada', 'M6J 1V1', 13.86),
 (181, 43, '2011-03-05 00:00:00', '68, Rue Jouvence', 'Dijon', None, 'France', '21000', 0.99),
 (182, 44, '2011-03-18 00:00:00', 'Porthaninkatu 9', 'Helsinki', None, 'Finland', '00530', 1.98),
 (183, 46, '2011-03-18 00:00:00', '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', None, 1.98),
 (184, 48, '2011-03-19 00:00:00', 'Lijnbaansgracht 120bg', 'Amsterdam', 'VV', 'Netherlands', '1016', 3.96),
 (185, 52, '2011-03-20 00:00:00', '202 Hoxton Street', 'London', None, 'United Kingdom', 'N1 5LH', 5.94),
 (186, 58, '2011-03-23 00:00:00', '12,Community Centre', 'Delhi', None, 'India', '110017', 8.91),
 (187, 8, '2011-03-28 00:00:00', 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', 13.86),
 (188, 22, '2011-04-05 00:00:00', '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', 0.99),
 (189, 23, '2011-04-18 00:00:00', '69 Salem Street', 'Boston', 'MA', 'USA', '2113', 1.98),
 (190, 25, '2011-04-18 00:00:00', '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', 1.98),
 (191, 27, '2011-04-19 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 3.96),
 (192, 31, '2011-04-20 00:00:00', '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', 5.94),
 (193, 37, '2011-04-23 00:00:00', 'Berger Straße 10', 'Frankfurt', None, 'Germany', '60316', 14.91),
 (194, 46, '2011-04-28 00:00:00', '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', None, 21.86),
 (195, 1, '2011-05-06 00:00:00', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', 0.99),
 (196, 2, '2011-05-19 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', 1.98),
 (197, 4, '2011-05-19 00:00:00', 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', 1.98),
 (198, 6, '2011-05-20 00:00:00', 'Rilská 3174/6', 'Prague', None, 'Czech Republic', '14300', 3.96),
 (199, 10, '2011-05-21 00:00:00', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', 5.94),